{% extends "base.html" %}
{% set active_page = "adverts" %}

{% block content %}
    {% if advert %}
      {% if advert.approved and not advert.closed %}
        <h2>{{ advert.title | e}}
          {% if current_user.id == advert.user_id or current_user.is_admin() %}
            <a class="edit-link" href="{{ url_for('adverts.advert_edit', advert_id=advert.id) }}">[edit]</a>
          {% endif %}
          {% if (current_user.id == advert.user_id or current_user.is_admin()) and not advert.closed %}
            <a class="edit-link" href="{{ url_for('adverts.close_advert', advert_id=advert.id) }}">[close]</a>
          {% endif %}
          {% if (current_user.id == advert.user_id or current_user.is_admin()) and advert.approved %}
            <a class="edit-link" href="{{ url_for('adverts.block_advert', advert_id=advert.id) }}">[block]</a>
          {% endif %}
        </h2>
        <p class="contacts">
            <b>Contacts:</b>
            {% if current_user.is_authenticated() %}
              {% if advert.phone %} {{ advert.phone | e}} {% endif %}
              {# {% if advert.email %} {{ advert.email | e}} {% endif %} #}
            {% else %}
              <a href="{{ url_for('users.login') }}">Login</a> to see contacts
            {% endif %}
        </p>
        <hr/>
        <div class="row">
          <div class="col-xs-6">
            <h3>Comment</h3><br/>
            <div class="text-nointervals">{{ advert.comment | nl2br | safe }}</div>
          </div>
          <div class="car-details col-xs-6">
            <div class="text-nointervals">
              <h3>Details</h3><br/>
              {% if advert.car_used %}
                <p><b>Used:</b> {{ advert.car_used }}</p>
              {% endif %}
              {% if advert.car_cost %}
                <p><b>Cost:</b> {{ advert.car_cost }} RUB</p>
              {% endif %}
              {% if advert.car_mileage %}
                <p><b>Mileage:</b> {{ advert.car_mileage }} km</p>
              {% endif %}
              {% if advert.car_transmission %}
                <p><b>Transmission:</b> {{ advert.car_transmission }}</p>
              {% endif %}
              {% if advert.car_engine_power %}
                <p><b>Engine Power:</b> {{ advert.car_engine_power }} h.p.</p>
              {% endif %}
              {% if advert.car_engine_volume %}
                <p><b>Engine Volume:</b> {{ advert.car_engine_volume }} cube meters</p>
              {% endif %}
              {% if advert.car_fuel_consumption %}
                <p><b>Fuel consumption:</b> {{ advert.car_fuel_consumption }} liters/100 km</p>
              {% endif %}
              {% if advert.car_drive %}
                <p><b>Car drive:</b> {{ advert.car_drive }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      {% elif not advert.approved %}
        <h3 class="text-center">Advert was not approved</h3>
      {% elif advert.closed %}
        <h3 class="text-center">Advert was closed</h3>
      {% endif %}
    {% else %}
      <h3 class="text-center">No such advert :(</h3>
    {% endif %}
{% endblock %}
