{% extends "base.html" %}
{% set active_page = "users" %}

{% from "adverts/advert_list_item.html" import advert_list_item %}

{% block content %}
  <div>
    {% if user %}
        <h2>
          {{ user.nickname }}
        </h2>
        <p>
          Email: <a href="{{ user.email | e }}">{{ user.email | e }}</a>,
          last activity at {{ user.last_req_date | datetime('dd.MM.yyyy') }}
        </p>
        <hr/>
        {% if user.adverts and user.adverts | length > 0 %}
          <ul class="list-group">
            {% for advert in user.adverts %}
              {{ advert_list_item(advert, current_user) }}
            {% endfor %}
          </ul>
        {% else %}
          <h3 class="text-center">No adverts :(</h3>
        {% endif %}
    {% else %}
      <h3 class="text-center">No such user :(</h3>
    {% endif %}
  </div>
{% endblock %}
